*{
    /* การกำหนด font */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    /* กำหนด link style */
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: 0;
    transition: 0.5s;
}
/* ------------------ MENU----------------- */


body{
    background-color:pink;
    background-image: url("img/backroand.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.container{
    max-width: 1140px;
    margin: 0 auto;
}
nav{
    background-color:pink;
    overflow: hidden;
}
.nav-con{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: left 10px;
    padding: 14px 16px;
}
.menu{
    display: flex;
    overflow: hidden;

}
.menu li{
    float: left;
    color: rgb(236, 234, 227);
    list-style: none;
    margin-left: 10px;
    padding: 14px 16px;
}
.menu a:hover{
    background-color: pink;

    
}

.menu a:active{
    background-color: pink;
    text-decoration: none;
}
a{
    color: rgb(0, 0, 0);
}
.logo{
    font-size: 30px;
}
/* table style */
.styled-table { 
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
}
/* ตกแต่งหัวข้อของตาราง */
.styled-table th{
    background-color: rgb(221, 233, 227);  /*สีพื้นหลังของหัวข้อ*/
    color: rgb(17, 15, 15);/*สีของตัวอักษรในหัวข้อ*/
    text-align: center;/*จัดตำแหน่งตัวอักษรให้ชิดซ้าย*/
    padding: 12px 15px;/*เพิ่มแพดดิ้งด้านในของหัวข้อ*/
    font-size: 16px;/*ขนาดตัวอักษร*/
}
/* ตกแต่งแถวของตาราง */
.styled-table td{
    text-align: center;
    padding: 12px 18px;
    border-collapse: collapse;
    border-bottom: 1px solid rgb(223, 228, 228);
    font-size: 16px;
}
/* เปลี่ยนสีเมื่อวางเม้าส์ */
.styled-table tr:hover{
    background-color: rgb(235, 235, 235);

}
/* เพิ่มเส้นขอบรอบตาราง */
.styled-table,.styled-table th,.styled-table td{
    border: 1px solid rgb(230, 221, 227);
}
/* ------dropdownmenu */
/* navbar-container */
.navbar{
    overflow: hidden;
    background-color: indianred;
}
/* lik inside navbar */
.navbar a{
    float: left;
    font-size: 14px;
    color: indianred;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* dropdown-container */
.dropdown{
    float: left;
    overflow: hidden;
}
/* dropdown-btn */
.dropdown .dropbtn{
    font-size: 14px;
    border: none;
    outline: none;
    color: khaki;
    padding: 14px 16px;
    background-color: lightgreen;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: limegreen;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: mediumaquamarine;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px crimson;
    z-index: 1;
}
.dropdown-content a{
    float: none;
    color: cyan;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: darkgrey;
}
.dropdown:hover .dropdown-content{
    display: block;
}





/*------ profile-------- */
.title {
    justify-content: center;
    padding: 12px;
    text-align: center;
}
.pic{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.pich-item {
    max-width: 1140px;
    justify-content: center;
    text-align: center;
}
.pich-item img{
    width: 300px;
    border-radius: 100%;
    box-shadow: 0 0 10px ;
    align-items: center;
    transition:0.5s;
}   
.pic-info img:hover {
    transform: scale(1.2); /* ขยายภาพเล็กน้อย */
}
.pich-item p{
    box-shadow: rgb(170, 169, 157);
    color: rgb(0, 0, 0);
}
.content{
    display: grid;
    grid-template-columns: repeat(3,ifr);
    max-width: 1140px;
    margin: 0 auto;
    column-gap: 5px;
}
.content-item{
    border: 1px rgb(203, 221, 221) solid;
    padding: 12px;
    background-color: rgb(15, 14, 15);
    color: rgb(221, 212, 212);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgb(88, 85, 83),rgb(63, 63, 62);
    column-gap: 10px;
    
}
.content-item1{
    border: 1px rgb(203, 221, 221) solid;
    padding: 12px;
    background-color: rgb(15, 14, 15);
    color: rgb(221, 212, 212);
    border-radius: 25px;
    box-shadow: 0 10px 10px 0 rgb(88, 85, 83),rgb(63, 63, 62);
    column-gap: 10px;
}
.content-item2{
    border: 1px rgb(203, 221, 221) solid;
    padding: 12px;
    background-color: rgb(15, 14, 15);
    color: rgb(221, 212, 212);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgb(88, 85, 83),rgb(63, 63, 62);
    column-gap: 10px;
}
/* https://www.flaticon.com/--แจกภาพ */

/* --------------education----------- */

.title1{
    text-align: center;
    padding: 12px;
}
.picedu{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.pichedu-item {
    max-width: 1140px;
    justify-content: center;
    text-align: center;
}
.pichedu-item img{
    width: 300px;
    border-radius: 100%;
    box-shadow: 0 0 10px ;
    align-items: center;
    transition:0.5s;
}   
.picedu-info img:hover {
    transform: scale(1.2); /* ขยายภาพเล็กน้อย */
}
.pichedu-item p{
    box-shadow: rgb(170, 169, 157);
    color: rgb(0, 0, 0);
}
.education{
    display: grid;
    grid-template-columns: repeat(3,ifr);
    max-width: 1140px;
    margin: 0 auto;
    column-gap: 5px;
    text-align:center;
}
.cer{
    width: 1140px;
    height: 2200px;
    background-color:pink;
    background-size: cover;
}
